<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>cooldowns.lol</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    <link
      href="https://fonts.googleapis.com/css?family=Andika&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="../static/img/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="../static/img/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="icon" type="image/x-icon" href="../templates/favicon.ico" />
  </head>
  <body>
    <h1>COOLDOWNS.LOL</h1>

    <div class="container">
      {% if show_form %}
      <!-- Form to input haste -->
      <div class="inputBox">
        <form id="hasteForm" method="post">
          <input
            type="number"
            step="1"
            name="haste"
            class="no-spinner"
            id="haste"
            value="{{ haste_value }}"
            required="required"
          />
          <span> Haste </span>
        </form>
      </div>

      {% endif %}
      <div id="tableContainer">
        <!-- Display the DataFrame HTML -->
        {{ dataframe|safe }}
      </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
